
body{
    margin:0;
    padding:0;
  
   
  }
  header{
  background: linear-gradient(45deg, red, yellow, green,blue);
    color: rgb(100 100 100);
    margin: 2px;
     height: 100px; 
     width:100%;
     position: fixed;
    
  }
  header h1{
   text-align: center;
   padding: 30px;
  
  }
  main{
   
    position:relative;
  }
  .nav{
    float: left;
   display:flex;
   justify-content: flex-start;
   align-items: flex-start;
  }
    ul{
     width:250px;
    height:100%;
    list-style-type: none;
    background: linear-gradient(45deg, red, yellow, green, blue);
  
    text-align: left;
   border:5px solid rgb(100 100 100);
    overflow:hidden;
  
    position: fixed;
    margin-left:10px;
   list-style-position: inside;
   box-shadow: 10px 10px 20px 30px rgb(100 100 100);
   z-index:2;
 
  }
  li{
    padding: 20px;
    display: block;
    font-size:36px; 
    margin:0;
  }
  li:hover{
    background-color:rgb(100 100 100);
      color: white;
    border-bottom: 2px solid black;
    cursor: pointer;
    width:100%;
  }
  li:active{
background-color: rgb(20 180 80);
  }
  .dropdown{
    position:relative;
    display: inline-block;
 
  }
  .dropdown-content{
    display:none;
    position:absolute;
  z-index:3;
    
  }
  .dropdown:hover .dropdown-content{
    display:block;
    height:100px;
  }
  article>h1{
    font-size:54px;
  }
  p{
    column-count:2;
    font-size:30px;
  }


  footer{
    height: 100px;
    background: linear-gradient(45deg, red, yellow, green, blue);
    color: rgb(100 100 100);
    width:100%;

z-index:1;
 
  }
  footer h5{
    text-align: center;
    padding: 30px;
  }